<app-header></app-header>
<app-navbar></app-navbar>
<div class="blog-img-wrraper">
   <h1>Our Blog</h1>
   <img src="assets/images/blog/blog1.png" alt="blog1.png">
</div>
<div class="blog-heading-wrraper">
  <h6>stay in touch</h6>
  <h4>Latest News</h4>
</div>
<div class="blog-container">
  <ng-container *ngFor="let blog of blogs | paginate: { itemsPerPage: 1, currentPage: p }">
     <app-blog-post [blog] = "blog"></app-blog-post>
  </ng-container>

</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<app-footer></app-footer>
