<div class="choose-car-container">
  <img class="background__img" src="assets/images/home/taxi_home.png" alt="taxi_home.png">
  <h6 class="font--Oswald">car classes and rates</h6>
  <h1 class="font--Oswald">Choose your car class</h1>
  <div class="choose-car-class-wrraper">
    <div class="car-class-item">
      <img
        class="car__icon"
        src="assets/icons/home/economy.svg"
        alt="economy.svg"
      />
      <p class="car__class__heading font--Oswald">Economy class</p>
      <p class="car__class__desc font--Oswald">
        Our taxi service offers a big car selection from luxury vehicles to
        budget cars $1,5/mi
      </p>
    </div>
    <div class="car-class-item">
      <img
        class="car__icon"
        src="assets/icons/home/standard.svg"
        alt="standard.svg"
      />
      <p class="car__class__heading font--Oswald">Standard class</p>
      <p class="car__class__desc font--Oswald">
        Standard Class Our taxi service offers a big car selection from luxury
        vehicles to budget cars $2,5/mi
      </p>
    </div>
    <div class="car-class-item font--Oswald">
      <img
        class="car__icon"
        src="assets/icons/home/buissness.svg"
        alt="buissness.svg"
      />
      <p class="car__class__heading font--Oswald">Buissness class</p>
      <p class="car__class__desc font--Oswald">
        Business Class Our taxi service offers a big car selection from luxury
        vehicles to budget cars $3,5/mi
      </p>
    </div>
  </div>
</div>
