<div class="about-img-wrraper">
  <img src="assets/images/about/about1.png" alt="about1.png" />
  <h1 class="about__heading font--Oswald">Learn about our Taxi Company</h1>
  <p class="about__subheading font--Oswald">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officiis quia
    impedit harum. Consequuntur, numquam commodi? Error minus excepturi porro
    facere molestiae harum accusamus, vel, sint sit nam possimus aperiam ipsum
    adipisci. Saepe, eum magni officia quas culpa consequatur quaerat reiciendis
    in ipsa. Facilis enim, incidunt quasi impedit ex assumenda sed quibusdam
    fuga tempore libero aliquid velit. Impedit modi dolore in nesciunt. Ex velit
    atque distinctio corporis harum. Non nemo quo quae, recusandae dolorum esse
    voluptatum architecto repellat. Illo unde velit explicabo iusto iste
    recusandae assumenda a modi voluptates quasi necessitatibus dignissimos
    itaque, beatae maxime praesentium! Omnis voluptatem tenetur quas.
  </p>
</div>
<div class="taxi-squares-wrraper"></div>
<app-about-service-card></app-about-service-card>
<app-about-book-taxi-card></app-about-book-taxi-card>
<app-footer></app-footer>
