<div class="footer-container">
  <div class="footer-item">
    <img class="logo" src="assets/icons/footer/logo.svg" alt="logo.svg" />
    <p class="company__details font--Monserrat">
      We created our taxi to help you to find the most dependable and highest
      quality taxi services, anytime and anywhere without any problems.
    </p>
  </div>
  <div class="footer-item">
    <p class="footer__heading font--Monserrat">contact info</p>
    <div class="contact-info-container">
      <div class="contact-info-wrraper">
        <img
          class="footer__icon"
          src="assets/icons/footer/email.svg"
          alt="email.svg"
        />
        <p class="info__details font--Oswald">taxiservise@gmail.com</p>
      </div>
      <div class="contact-info-wrraper">
        <img
          class="footer__icon"
          src="assets/icons/footer/phone.svg"
          alt="email.svg"
        />
        <p class="info__details font--Oswald">38164675858787</p>
      </div>
      <div class="contact-info-wrraper">
        <img
          class="footer__icon"
          src="assets/icons/footer/location.svg"
          alt="email.svg"
        />
        <p class="info__details font--Oswald">550 Mill Pond Ave Arlington</p>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <p class="footer__heading font--Monserrat">subscribe to us</p>
    <div class="subscribe-wrraper">
      <p>Subscribe to our Newsletters!</p>
      <form [formGroup]="emailForm" (ngSubmit)="subscribeEmail()">
        <input type="text" placeholder="your email" formControlName="Email" />
        <button type="submit">ok</button>
      </form>
      <div class="message-form-wrraper">
        <p class="success__msg" *ngIf="subscribed">subscribed!</p>
        <p class="error__msg" *ngIf="errorMessage">Subscription failed!</p>
        <p class="error__msg"
          *ngIf="
            emailForm.get('Email').touched &&
            emailForm.get('Email').hasError('required')
          "
        >
          *Field cannot be empty
        </p>
        <p class="error__msg" *ngIf="emailForm.get('Email').touched && emailForm.get('Email').hasError('email') ">
          *Email is not valid
        </p>
      </div>
    </div>
  </div>
</div>
