<img class="logo" src="assets/icons/navbar/logo.svg" alt="logo.svg">
<img (click) = "toggleNavbar()" class="bars" src="assets/icons/navbar/bars.svg" alt="bars.svg">

<nav>
     <ul [ngClass] = "navbarState ? 'show--navbar' : 'hide--navbar'">
        <li><a routerLink="" class="font--Monserrat">Home</a></li>
        <li><a routerLink="about" class="font--Monserrat">About us</a></li>
        <li><a routerLink="get-cab" class="font--Monserrat" href="#">Get Cab</a></li>
        <li><a class="font--Monserrat" href="#">Contact us</a></li>
        <li *ngIf="!isLogged"><a routerLink="login" class="font--Monserrat">Login</a></li>
        <li *ngIf="isLogged"><a routerLink="logout" class="font--Monserrat">Logout</a></li>
     </ul>
</nav>
