<app-header></app-header>
<app-navbar></app-navbar>
<div class="contact-img-wrraper">
  <img src="assets/images/contact/contact1.png" alt="contact1.png" />
  <div class="contact-info-wrraper">
    <div class="contact-item">
      <img
        class="contact__icon"
        src="assets/icons/contact/location.svg"
        alt="location.svg"
      />
      <p class="contact__item__heading font--Oswald">our location</p>
      <p class="contact__item__details font--Oswald">550 Mill Pond Ave. Arlington,
        MA 02474</p>
    </div>
    <div class="contact-item">
      <img
        class="contact__icon"
        src="assets/icons/contact/phone.svg"
        alt="phone.svg"
      />
      <p class="contact__item__heading font--Oswald">our phone</p>
      <p class="contact__item__details font--Oswald">phone: 0 800 555 321</p>
      <p class="contact__item__details font--Oswald top--minus--2rem">phone: 0 800 555 521</p>
    </div>
    <div class="contact-item">
      <img
        class="contact__icon"
        src="assets/icons/contact/mail.svg"
        alt="mail.svg"
      />
      <p class="contact__item__heading font--Oswald">our mail</p>
      <p class="contact__item__details font--Oswald">taxiservicegetcab@info.com
      </p>
    </div>
  </div>
</div>
<app-send-message></app-send-message>
<app-footer></app-footer>
