<div class="about-service-card-container">
  <img src="assets/images/about/about2.png" alt="about2.png" />
  <div class="card-item">
    <img
      class="card__icon"
      src="assets/icons/about/shield.svg"
      alt="shield.svg"
    />
    <p class="card__item__heading font--Oswald">safety guarantee</p>
    <p class="card__details font--Oswald">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis
      velit nisi officia sed ad neque commodi modi unde voluptate!
    </p>
  </div>
  <div class="card-item">
    <img
      class="card__icon"
      src="assets/icons/about/driver.svg"
      alt="driver.svg"
    />
    <p class="card__item__heading font--Oswald">licenced drivers</p>
    <p class="card__details font--Oswald">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis
      velit nisi officia sed ad neque commodi modi unde voluptate!
    </p>
  </div>
  <div class="card-item">
    <img
      class="card__icon"
      src="assets/icons/about/quotes.svg"
      alt="quotes.svg"
    />
    <p class="card__item__heading font--Oswald">free quotation</p>
    <p class="card__details font--Oswald">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis
      velit nisi officia sed ad neque commodi modi unde voluptate!
    </p>
  </div>
</div>
