<h6 class="font--Oswald">What we offer</h6>
<h1 class="font--Oswald">Welcome to us</h1>
<p class="welcome-paragraph font--Oswald">
  We created our taxi to help you to find the most dependable and highest
  quality taxi services, anytime and anywhere. All our drivers are uniformed and
  fully licensed.
</p>
<div class="welcome-to-us-container">
    <div class="card-item">
        <img src="assets/icons/home/map.svg" alt="map.svg">
        <p class="card__heading font--Oswald">Adress Pickup</p>
        <p class="font--Oswald">We always pick up our clients on time, 24/7 availability.</p>
    </div>
    <div class="card-item">
      <img src="assets/icons/home/plane.svg" alt="plane.svg">
      <p class="card__heading font--Oswald">Airport transfer</p>
      <p class="font--Oswald">GetCab specialized in 24 hours airport transfer service.</p>
    </div>
    <div class="card-item">
      <img src="assets/icons/home/map2.svg" alt="map2.svg">
      <p class="card__heading font--Oswald">Long distance</p>
      <p class="font--Oswald">We offer you a long distance taxi service to anywhere.</p>
    </div>
    <div class="card-item">
      <img src="assets/icons/home/car.svg" alt="car.svg">
      <p class="card__heading font--Oswald">Taxi tours</p>
      <p class="font--Oswald">We offer taxi tours of various durations and complexity.</p>
    </div>
</div>
