.login-form-container{
  position: relative;
  background-color:var(--brown);
  width:400px;
  height:250px;
  margin: 0 auto;
  top: -15rem;
  border: 3px solid var(--orange);
}

form{
  position: relative;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

input{
  height: 2rem;
  width: 17rem;
  margin: 0.3rem;
}

.login__btn{
  position: relative;
  background-color: var(--orange);
  height: 2rem;
  width:9rem;
  cursor: pointer;
  top: 2rem;
  font-size: 1rem;
  color: white;

}

::placeholder{
  font-family: "Oswald";
  font-size: 1rem;
  padding-left: 1rem;
}
