<div class="booking-container">
  <form>
    <input type="text" placeholder="start destination" />
    <input type="text" placeholder="end destination" />
    <input type="text" placeholder="time and date" />
    <select id="car__class">
      <option value="Economy">Economy</option>
      <option value="Standard">Standard</option>
      <option value="Buissness">Buissness</option>
    </select>
    <input type="text" placeholder="your phone" />
    <div class="btn-wrraper">
      <button class="book__btn font--Monserrat">Book</button>
    </div>
  </form>
</div>
