<div class="booking-container">
  <form [formGroup] = "bookingForm" (ngSubmit) = "bookTaxi()">
    <input formControlName = "startDestination" type="text" placeholder="start destination" />
    <input formControlName = "endDestination" type="text" placeholder="end destination" />
    <input formControlName = "timeDate" type="text" placeholder="time and date" />
    <select formControlName = "carClass" id="car__class">
      <option value="Economy">Economy</option>
      <option value="Standard">Standard</option>
      <option value="Buissness">Buissness</option>
    </select>
    <input formControlName = "phoneNumber" type="text" placeholder="your phone" />
    <div class="btn-wrraper">
      <button class="book__btn font--Monserrat">Book</button>
    </div>
  </form>
</div>
