<div class="blog-container">
  <p *ngIf="blogAdded" class="blog__added">Blog added!</p>
  <form [formGroup]="blogForm" (ngSubmit) = "addBlogPost()" enctype="multipart/form-data">
    <p
      class="error__message"
      *ngIf="
        (blogForm.get('blogName').touched &&
          blogForm.get('blogName').hasError('required')) ||
        (blogForm.get('blogText').touched &&
          blogForm.get('blogText').hasError('required'))
      "
    >
      *fields cannot be empty!
    </p>
    <input
      type="text"
      placeholder="blog name"
      formControlName="blogName"
      required
    />
    <textarea
      placeholder="blog text"
      formControlName="blogText"
      required
    ></textarea>
    <label for="blogImage">Image:</label>
    <input type="file" (change) = "onFileChange($event)"/>
    <button type="submit">add blog</button>
  </form>
</div>
