.register-form-container{
  position: relative;
  width:400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--brown);
  height: 300px;
  top: -16rem;
  align-items: center;
  border: 3px solid var(--orange);
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 17rem;
  height: 2rem;
  margin: 0.4rem;
}

.register__btn{
  position: relative;
  width: 12rem;
  height: 2rem;
  background-color: var(--orange);
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

::placeholder{
  font-family: "Oswald";
  font-size: 1rem;
  padding-left: 1rem;
}
