<div class="register-form-container">
   <form [formGroup] = "registerForm" (ngSubmit) = "register()">
      <input type="text" placeholder="Name" formControlName = "Name">
      <input type="text" placeholder="Surname" formControlName = "Surname">
      <input type="text" placeholder="Email" formControlName = "Email">
      <input type="password" placeholder="Password" formControlName = "Password" autocomplete="on">
      <button type="submit" class="register__btn font--Oswald">Submit</button>
   </form>

</div>
